/* Background layout */
.cover-background {
  > .component-content {
    @apply bg-cover bg-center bg-no-repeat;
  }
}

.fix-background {
  > .component-content {
    @apply bg-cover bg-fixed bg-top-left bg-no-repeat;
  }
}

.parallax-background {
  > .component-content {
    @apply bg-cover bg-fixed bg-position-[50%_0] bg-no-repeat max-md:bg-scroll;
  }
}

/* Background color  */
.container-clean-background {
  &:not(.container),
  &.container > .component-content {
    @apply bg-background;
  }
}

.container-color-background {
  > .component-content {
    @apply border-background-accent;
  }

  &:not(.container),
  &.container > .component-content {
    @apply bg-background-accent border-background-accent;
  }
}

.container-dark-background {
  > .component-content {
    @apply border-dfin-navy;
  }

  &:not(.container),
  &.container > .component-content {
    @apply bg-dfin-navy border-dfin-navy text-white;

    * {
      @apply text-inherit;
    }

    .arrow-btn {
      @apply text-accent hover:border-b-accent border-b-transparent;

      &::after {
        @apply bg-accent;
      }
    }

    .pill-btn {
      @apply bg-accent text-white;
    }
  }
}

.container-gray-background {
  > .component-content {
    @apply border-background-muted;
  }

  &:not(.container),
  &.container > .component-content {
    @apply bg-background-muted border-background-muted;
  }
}

/* Spacing */
.indent {
  @apply px-12;
}

.indent-top {
  @apply mt-6;
}

.indent-bottom {
  @apply mb-6;
}

/* Content alignment */
.position-left,
.position-left * {
  text-align: left !important;
}

.position-right,
.position-right * {
  text-align: right !important;
}

.position-center,
.position-center * {
  text-align: center !important;
}

.position-left select {
  direction: ltr !important;
}

.position-right select {
  direction: rtl !important;
}

.position-center select {
  text-align-last: center !important;
}

.container-dark-background .shim {
  background: rgba(0, 0, 0, 0.4);
  padding: 50px;
}

.shim {
  background: rgba(255, 255, 255, 0.6);
  padding: 50px;
  border-radius: 1rem;
}
